#topsection a {
	text-decoration: none;
}

#topsection a:visited {
	text-decoration: none;
}

div.note {
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

div.desc {
	padding-top: 2px;
	padding-bottom: 2px;
}

div.item {
	position: relative;
	border: solid 1px;
	padding: 2px;
	margin: 2px;
	background-color: #CCFFCC;
}

div.addon strong.name {
	font-size: 12px;
}

div.option strong.name {
	font-size: 12px;
}

h6 {
	font-size: 10px;
	font-weight: normal;
}

span.price {
	position: absolute;
	right: 2px;
}

strong.name {
	font-size: 14px;
}